  
  /* Alerts */
  .swal2-popup {
    background: var(--sb) !important;
    font-family: Arial !important;
    color: var(--text) !important;
  }
  .swal2-confirm {
    background-color: var(--green) !important;
  }
  .swal2-deny {
    background-color: var(--error) !important;
  }
  .swal2-cancel {
    background-color: var(--sc-bg) !important;
  }
  .swal2-image {
    border-radius: 10px;
  }
  .swal2-input {
    border: none !important;
    background-color: var(--bg) !important;
    &:focus {
      border: none !important;
    }
  }
  .swal2-validation-message {
    background: var(--bg) !important;
    color: var(--error)  !important;
  }
  .swal2-actions {
    button:focus {
      box-shadow: none !important;
    }
  }
  .swal2-container {
    z-index: auto !important;
  }
.swal2-popup {
  background: var(--sb) !important;
  font-family: Arial !important;
  color: var(--text) !important;
}
.swal2-confirm {
  background-color: var(--green) !important;
}
.swal2-deny {
  background-color: var(--error) !important;
}
.swal2-cancel {
  background-color: var(--sc-bg) !important;
}
.swal2-image {
  border-radius: 10px;
}
.swal2-input {
  border: none !important;
  background-color: var(--bg) !important;
  &:focus {
    border: none !important;
  }
}
.swal2-validation-message {
  background: var(--bg) !important;
  color: var(--error) !important;
}
.swal2-actions {
  button:focus {
    box-shadow: none !important;
  }
}
.swal2-container {
  z-index: auto !important;
}
