[theme="fruit"] {
    --creator: "Created by spork#3856";
    --bg: #282323;
    --fg: #f8f1e9;
    --text: #e66059; // APPLE (Tuned Saturation 5Deg)
    --sb: #190F18; // Blueberry
    --highlight: #eed555;  // Banana
    --notification: #c780a7;
    --ac: var(--orange);
    --green:  #8ee53f; // Inside KIWI
    --yellow:  #ffe135; // Banana
    --blue: #4f86f7; // ARTIFICAL
    --red: #C7372F; // APPLE  
    --purple: #987bae; 
    --orange: #FFA500;
    --cyan: #aad7ef;
    --gray: #616161;
    --white: #f8f1e9;
    --error: #C7372F;
    --link: #8ee53f;
}