
@import './code.scss';
.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.underline {
  text-decoration: underline !important;
}
.line-through {
  text-decoration: line-through !important;
}
