 
  .inline-code {
    background-color: var(--background-dark) !important;
    font-family: 'Share Tech Mono', monospace !important;
    border-radius: 5px;
    padding: 3px;
    color: var(--nqw) !important;
    font-size: 15px;
  }