/** Open */
@keyframes open {
    0% {
        transform: scale(1.2);
        opacity: 0
    }
  
    20% {
        opacity: .5
    }
  
    50% {
        opacity: 1
    }
  
    to {
        transform: scale(1)
    }
  }