// [theme="dark"] {
//     --creator: "https://material-theme.com/docs/reference/color-palette/";
//     --bg: #2a2a2a17;
//     --fg: #b0bec5;
//     --text:#fdfdfd;
//     --sb: #31313154;
//     --sf: #ffffff;
//     --sc-bg: #292929;
//     --highlight: #3f3f3f;
//     --notification: #1a1a1a3b;
//     --ac: #ff9800;
//     --green: #3BA55D;
//     --yellow: #ffcb6b;
//     --blue: #82aaff;
//     --red: #f07178;
//     --purple: #c792ea;
//     --orange: #f78c6c;
//     --cyan: #89ddff;
//     --gray: #44413eaf;
//     --white: #eeffff;
//     --error: #ff5370;
//     --link: #80cbc4;
//   }
  [theme="dark"] {
    --creator: "https://material-theme.com/docs/reference/color-palette/";
    --bg: #2A2A2A;
    --fg: #b0bec5;
    --text: #727272;
    --sb: #313131;
    --sf: #ffffff;
    --sc-bg: #292929;
    --highlight: #3f3f3f;
    --notification: #1a1a1a;
    --ac: #ff9800;
    --green: #3BA55D;
    --yellow: #ffcb6b;
    --blue: #82aaff;
    --red: #f07178;
    --purple: #c792ea;
    --orange: #f78c6c;
    --cyan: #89ddff;
    --gray: #616161;
    --white: #eeffff;
    --error: #ff5370;
    --link: #80cbc4;
  }