[theme="moon"] {
    --creator: "https://material-theme.com/docs/reference/color-palette/";
    --bg: #222436;
    --fg: #c8d3f5;
    --text: #a9b8e8;
    --sb:#444a73;
    --sf: #FFFFFF;
    --sc-bg:  #2f334d;
    --highlight:  #444a73;
    --notification: #191a2a;
    --ac: #74a0f1;
    --green:  #7af8ca;
    --yellow:  #ffdb8e;
    --blue: #70b0ff;
    --red: #f3c1ff;
    --purple: #baacff;
    --orange: #ff9668;
    --cyan: #34d3fb;
    --gray: #7e8eda;
    --white: #e1e7f7;
    --error: #ff5370;
    --link: #34d3fb;
}