@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Rubik:wght@400;500&family=Titillium+Web:wght@400;600;700&display=swap');

:root {
  /* Stable */
  --lightable-green: rgba(40, 241, 130, 0.692);
  /* Beta */
  --lightable-amber: rgb(246, 248, 108);
  /* Alpha */
  --lightable-red: rgba(250, 94, 67, 0.637);
  --lightable-dark-bg: rgb(16, 16, 20);
  --lightable-light-bg: #fff;
}

html {
  background-color: transparent;
  color: white;
  margin: 0;
  overflow: hidden;
}

// .n-button {
//   background: rgb(var(--accent));
// 	color: var(--accent-text);
// 	transition: box-shadow .15s var(--transition);
// 	&:hover {
// 		background: rgb(var(--accent));
// 		box-shadow: inset 0 0 0 100vmax hsl(0 0% 0% / .1) !important;
// 		border-color: hsl(0 0% 0% / .1);
// 	}
// 	&:active {
// 		background: rgb(var(--accent));
// 		box-shadow: inset 0 0 0 100vmax hsl(0 0% 0% / .2) !important;
// 		border-color: hsl(0 0% 0% / .2);
// 	}
// }
.hide {
  display: none !important;
}

.ns {
  user-select: none;
}

body {
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Gill Sans/Gill Sans.otf");
}

@font-face {
  font-family: "Gill Sans Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Gill Sans/Gill Sans Medium.otf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Open Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Open Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Open Sans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Jetbrains Mono";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Jetbrains Mono/Jetbrains Mono.ttf");
}

#app {
  height: 100vh;
  text-align: left;
}

.json-key {
  color: rgb(243, 158, 158);
}

.json-value {
  color: rgb(247, 192, 120);
}

.json-string {
  color: var(--lightable-red);
}

.n-drawer {
  background-color: rgba(14, 14, 14, 0.685);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}